html,
body {
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.004);
    -moz-osx-font-smoothing: grayscale;
    color: #565a5c;
    font: normal 14px / 22px Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}

.uk-navbar-nav > li > a {
    font-family: Helvetica, Arial, sans-serif;
}
h2 {
    font-size: 22px;
    line-height: 34px;
}

::-moz-selection {
    background: #cccccc;
    color: #ffffff;
    text-shadow: none;
}

::selection {
    background: #cccccc;
    color: #ffffff;
    text-shadow: none;
}

.uk-button {
    border-radius: 0px!important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a,
.uk-link {
    
    /***-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
    ***/
    text-decoration: none;
    cursor: pointer;
    color: #04b5cc;
    background-color: none;
}


a:hover, .uk-link:hover {
    text-decoration: none;
    color: #06a3b7;
}

.uk-navbar-brand, .uk-navbar-content, .uk-navbar-toggle{
	padding: 0;
}

@media (min-width: 1220px) {
    .uk-container {
        max-width: 1100px!important;
    }
}

input,
button,
textarea,
select,
.uk-form select,
select.uk-form-large,
.uk-tab > li > a {
    
}

.uk-subnav-pill > .uk-active > * {
    background: none !important;
    color: #333333;
}

.uk-subnav-pill > .uk-active > a:hover{
	background-color: none !important;
}

.uk-subnav > * > * {
    color: #999;
}

.uk-form select:focus,
.uk-form textarea:focus,
.uk-form input:not([type]):focus,
.uk-form input[type="text"]:focus,
.uk-form input[type="password"]:focus,
.uk-form input[type="datetime"]:focus,
.uk-form input[type="datetime-local"]:focus,
.uk-form input[type="date"]:focus,
.uk-form input[type="month"]:focus,
.uk-form input[type="time"]:focus,
.uk-form input[type="week"]:focus,
.uk-form input[type="number"]:focus,
.uk-form input[type="email"]:focus,
.uk-form input[type="url"]:focus,
.uk-form input[type="search"]:focus,
.uk-form input[type="tel"]:focus,
.uk-form input[type="color"]:focus {
    background: #fff;
    border-color: rgba(255, 255, 255, 0.6);
    outline: 0;
}

blockquote {
    padding-left: 15px;
    border-left: 5px solid #dddddd;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
}

.uk-grid-divider > [class*='uk-width-1-']:not(.uk-width-1-1):nth-child(n+2),
.uk-grid-divider > [class*='uk-width-2-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-3-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-4-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-5-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-6-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-7-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-8-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-9-']:nth-child(n+2) {
    border-left: 1px solid #ebebeb;
}

.uk-dotnav>*>* {
    width: 8px;
    height: 8px;
}

.uk-dotnav>.uk-active>* {
    background: rgba(4, 181, 204, .9);
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
}

.uk-modal-dialog {
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/***Style****/



.section-index{
    height: 100%;
}

.swoosh-back-1{
    background:url('../img/swoosh.png') no-repeat;
    position: absolute;
    background-size: contain;
    width: 400px;
    height: 100%;
    left: -220px;
}

.swoosh-back-top{
    background:url('../img/swoosh-top.png') no-repeat;
    position: absolute;
    background-size: contain;
    width: 550px;
    height: 100px;
    top:0;
    right: 00px;
}

.time-container{
    margin-top: 35px;
    margin-left: 55px;
}

.schedule{
    margin-top: 30px;
    margin-left: 58px;
}

.logo-countdown-container{
    margin: 0px 0px 100px 20px;
}

.time{
    display: block;
    text-align: center;
}


.time .time-num{
    font-weight: bold;
    font-size: 25px;
}

.time .time-txt{
    padding-top: 10px;
    font-size: 11px;
}

.back-red{
    background-color: #0196d7;
}

.text-white{
    color: white;
}

.text-12{
    font-size: 12px;
}

.text-up{
    text-transform: uppercase;
}


@media (min-width: 960px) and (max-width: 1200px){


}

@media (max-width: 960px){


}