html,
body {
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.004);
    -moz-osx-font-smoothing: grayscale;
    color: #565a5c;
    font: normal 14px / 22px 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

.uk-navbar-nav > li > a {
    font-family: 'Open Sans', sans-serif;
}
h2 {
    font-size: 22px;
    line-height: 34px;
}

::-moz-selection {
    background: #cccccc;
    color: #ffffff;
    text-shadow: none;
}

::selection {
    background: #cccccc;
    color: #ffffff;
    text-shadow: none;
}

.uk-button {
    border-radius: 0px!important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a,
.uk-link {
    
    /***-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
    ***/
    text-decoration: none;
    cursor: pointer;
    color: #f30860;
    background-color: none;
}


a:hover, .uk-link:hover {
    text-decoration: none;
    color: #f30860;
}

.uk-navbar-brand, .uk-navbar-content, .uk-navbar-toggle{
	padding: 0;
}

@media (min-width: 1220px) {
    .uk-container {
        max-width: 1100px!important;
    }
}

input,
button,
textarea,
select,
.uk-form select,
select.uk-form-large,
.uk-tab > li > a {
    
}

.uk-subnav-pill > .uk-active > * {
    background: none !important;
    color: #333333;
}

.uk-subnav-pill > .uk-active > a:hover{
	background-color: none !important;
}

.uk-subnav > * > * {
    color: #999;
}

.uk-form select:focus,
.uk-form textarea:focus,
.uk-form input:not([type]):focus,
.uk-form input[type="text"]:focus,
.uk-form input[type="password"]:focus,
.uk-form input[type="datetime"]:focus,
.uk-form input[type="datetime-local"]:focus,
.uk-form input[type="date"]:focus,
.uk-form input[type="month"]:focus,
.uk-form input[type="time"]:focus,
.uk-form input[type="week"]:focus,
.uk-form input[type="number"]:focus,
.uk-form input[type="email"]:focus,
.uk-form input[type="url"]:focus,
.uk-form input[type="search"]:focus,
.uk-form input[type="tel"]:focus,
.uk-form input[type="color"]:focus {
    background: #fff;
    border-color: rgba(255, 255, 255, 0.6);
    outline: 0;
}

blockquote {
    padding-left: 15px;
    border-left: 5px solid #dddddd;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
}

.uk-grid-divider > [class*='uk-width-1-']:not(.uk-width-1-1):nth-child(n+2),
.uk-grid-divider > [class*='uk-width-2-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-3-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-4-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-5-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-6-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-7-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-8-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-9-']:nth-child(n+2) {
    border-left: 1px solid #ebebeb;
}

.uk-dotnav>*>* {
    width: 8px;
    height: 8px;
}

.uk-dotnav>.uk-active>* {
    background: rgba(4, 181, 204, .9);
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
}

.uk-modal-dialog {
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.uk-navbar-nav>li>a:hover{
    background: none;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    color: black;
}



.margin-top-10{
    margin-top: 10px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-40{
    margin-top: 40px;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-top-60{
    margin-top: 60px;
}

.margin-top-70{
    margin-top: 70px;
}

.margin-top-80{
    margin-top: 80px;
}

.margin-top-90{
    margin-top: 90px;
}

.margin-top-100{
    margin-top: 100px;
}

.margin-top-110{
    margin-top: 110px;
}



.margin-top-bottom-10{
    margin-bottom: 10px;
    margin-top: 10px;
}

.margin-top-bottom-20{
    margin-bottom: 20px;
    margin-top: 20px;
}

.margin-top-bottom-30{
    margin-bottom: 30px;
    margin-top: 30px;
}

.margin-top-bottom-40{
    margin-bottom: 40px;
    margin-top: 40px;
}

.margin-top-bottom-50{
    margin-bottom: 50px;
    margin-top: 50px;
}

.margin-top-bottom-60{
    margin-bottom: 60px;
    margin-top: 60px;
}

.margin-top-bottom-70{
    margin-bottom: 70px;
    margin-top: 70px;
}

.margin-top-bottom-80{
    margin-bottom: 80px;
    margin-top: 80px;
}

.margin-top-bottom-90{
    margin-bottom: 90px;
    margin-top: 90px;
}

.margin-top-bottom-100{
    margin-bottom: 100px;
    margin-top: 100px;
}



.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.margin-bottom-40{
    margin-bottom: 40px;
}

.margin-bottom-50{
    margin-bottom: 50px;
}

.margin-bottom-60{
    margin-bottom: 60px;
}

.margin-bottom-70{
    margin-bottom: 70px;
}

.margin-bottom-100{
    margin-bottom: 100px;
}


.padding-top-10{
    padding-top: 10px;
}

.padding-top-20{
    padding-top: 20px;
}

.padding-top-30{
    padding-top: 30px;
}

.padding-top-40{
    padding-top: 40px;
}

.padding-top-50{
    padding-top: 50px;
}

.padding-top-60{
    padding-top: 60px;
}

.padding-top-70{
    padding-top: 70px;
}



.padding-right-5{
    padding-right: 5px;
}

.padding-right-10{
    padding-right: 10px;
}

.padding-right-20{
    padding-right: 20px;
}

.padding-right-30{
    padding-right: 30px;
}

.padding-right-40{
    padding-right: 40px;
}

.padding-right-50{
    padding-right: 50px;
}

.padding-right-60{
    padding-right: 60px;
}

.padding-right-70{
    padding-right: 70px;
}

.padding-right-80{
    padding-right: 80px;
}





.padding-top-bottom-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-top-bottom-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-top-bottom-30{
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-top-bottom-40{
    padding-top: 40px;
    padding-bottom: 40px;
}

.padding-top-bottom-50{
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding-top-bottom-60{
    padding-top: 60px;
    padding-bottom: 60px;
}

.padding-top-bottom-70{
    padding-top: 70px;
    padding-bottom: 70px;
}

.padding-top-bottom-80{
    padding-top: 80px;
    padding-bottom: 80px;
}

.padding-top-bottom-90{
    padding-top: 90px;
    padding-bottom: 90px;
}

.padding-top-bottom-100{
    padding-top: 100px;
    padding-bottom: 100px;
}


.padding-5{
    padding: 5px;
}

.padding-10{
    padding: 10px;
}

.padding-20{
    padding: 20px;
}

.padding-30{
    padding: 30px;
}

.padding-40{
    padding: 40px;
}

.padding-50{
    padding: 50px;
}

.padding-60{
    padding: 60px;
}

.padding-70{
    padding: 70px;
}

.opensans{
    font-family: 'Open Sans', sans-serif;
}

.text-condensed{
    font-weight: 300;
}

/* COLOR */



.text-blue{
    color: #1097fc;
}

.back-blue{
    background: #1097fc;
}

.back-white{
    background: white !important;
}

.back-red{
    background-color: #f30860;
}

a.back-red:hover{
    background-color: #c1024a;
}

.back-gray{
    background-color: #f7f7f7;
}

.back-dark{
    background-color: black;
}

.back-handmade{
    background: url('../img/geometry.png');
}

/* END COLOR */



/*
 * Style
 */

.text-light {
    font-weight: 300!important;
}

.text-medium {
    font-weight: 500!important;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-10 {
    font-size: 10px!important;
    line-height: 16px!important;
}

.text-12 {
    font-size: 12px!important;
    line-height: 20px!important;
}

.text-14 {
    font-size: 14px !important;
    line-height: 22px;
}

.text-16 {
    font-size: 16px!important;
    line-height: 24px!important;
}

.text-18 {
    font-size: 18px;
    line-height: 30px;
}

.text-20 {
    font-size: 20px!important;
    line-height: 26px!important;
}

.text-22 {
    font-size: 22px;
    line-height: 34px;
}

.text-24 {
    font-size: 24px!important;
    line-height: 32px!important;
}

.text-26 {
    font-size: 26px!important;
    line-height: 32px!important;
}

.text-28 {
    font-size: 28px!important;
    line-height: 40px!important;
}

.text-29{
    font-size: 29px!important;
    line-height: 20px!important;
}

.text-30 {
    font-size: 30px!important;
    line-height: 38px!important;
}

.text-32 {
    font-size: 32px!important;
    line-height: 39px!important;
}

.text-34 {
    font-size: 34px!important;
    line-height: 42px!important;
}

.text-36 {
    font-size: 36px!important;
    line-height: 44px!important;
}

.text-38 {
    font-size: 38px!important;
    line-height: 46px!important;
}

.text-40 {
    font-size: 40px!important;
    line-height: 48px!important;
}

.text-42{
    font-size: 42px!important;
    line-height: 50px;
}

.text-44{
    font-size: 44px!important;
    line-height: 51px;
}

.text-50{
    font-size: 50px!important;
    line-height: 56px!important;
}

.text-huge {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -1px;
}

.text-huge2 {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1px;
}

.text-highlight {
    border-bottom: 1px solid #f10537;
}

.text-white {
    color: #fff!important;
}

.text-gray{
    color: #565a5c !important;
}

.text-black {
    color: #282828!important;
}


.text-silver {
    color: #ababab!important;
}

.text-red {
    color: #f30860!important;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a.text-red:hover{
    color: #fc9abf!important;   
}

.text-red a {
    color: #f30860;
}
.text-yellow {
    color: #f1c40f;
}

.border-yellow{
    border-color: #f1c40f;
}

.border-red{
    border: 1px solid #f30860;
}

.border-gray{
    border: 1px solid #565a5c;
}

.border-light-gray{
    border: 1px solid #d2d2d2;
}

.back-yellow{
    background-color: #f1c40f !important;
}

.text-green {
    color: #27ae60!important;
}

.read-two-btn{
    background: white;
    padding: 20px 32px 20px 32px;
    color: #121212;
    font-size: 11px;
    letter-spacing: 1.5px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.read-two-btn:hover{
    color: #121212;
    background-color: #eee;
}

.read-three-btn{
    background: #282828;
    padding: 20px 32px 20px 32px;
    color: white;
    font-size: 11px;
    letter-spacing: 1.5px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.read-three-btn:hover{
    color: white;
    background-color: #424242;
}

.letter-space-1-5{
    letter-spacing: 1.5px;
}

.letterspacing3 {
    letter-spacing: 3px;
}

.letterspacing3 {
    letter-spacing: 1px;
}

.text-italic {
    font-style: italic;
}

.text-condensed {
    font-family: "PT Sans", sans-serif;
}

.text-capitalize {
    text-transform: capitalize;
}



hr {
    border-top: 1px solid #ebebeb;
}

hr.silver {
    border-top: 1px solid #444;
}

hr.small {
    width: 100px;
}

hr.center {
    margin: 0 auto;
}
hr.yellow {
    border-top: 1px solid #f1c40f;
}

a.whitebutton {
    padding: 15px 20px;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    color: #03cea0;
}

a.whitebutton:hover {
    padding: 15px 25px;
    opacity: 1;
}

a.whiteborderbutton {
    padding: 15px 20px;
    background-color: #fff;
    border: 2px solid #ebebeb;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    color: #999!important;
    font-weight: 900;
}

a.whiteborderbutton:hover {
    background-color: #f1f1f1;
    opacity: 1;
    color: #222!important;
}

a.bluebutton {
    padding: 15px 20px;
    background-color: #0959a7;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

a.bluebutton:hover {
    opacity: 1;
    background-color: #1668b8;
}

a.bluebutton.small {
    padding: 12px 15px;
    font-size: 13px;
}

a.bluebutton.xsmall {
    padding: 7px 10px;
    font-size: 13px;
}

a.redbutton {
    padding: 15px 20px;
    background-color: #f30860;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

a.redbutton.small {
    padding: 12px 15px;
    font-size: 13px;
}
a.redbutton.xsmall {
    padding: 7px 10px;
    font-size: 13px;
}

a.redbutton:hover {
    opacity: 1;
    background-color: #c62b2b;
}

a.greybutton {
    padding: 15px 20px;
    background-color: #999;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

a.greybutton.small {
    padding: 12px 15px;
    font-size: 13px;
}

a.greybutton:hover {
    opacity: 1;
    background-color: #888;
}



a.yellowbutton {
    padding: 15px 20px;
    background-color: #f1c40f;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

a.yellowbutton.small {
    padding: 12px 15px;
    font-size: 13px;
}

a.yellowbutton:hover {
    opacity: 1;
    background-color: #dcb30f;
}

/* css gradient {
    background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, .7) 100%);
    background-image: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, .7) 100%);
    background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, .7) 100%);
    background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, .7) 100%);
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, .7) 100%);
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    -ms-text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    -o-text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}*/

/*background image cover {
    background: #000 url('../img/profileback.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

.randomblinker {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@media (min-width: 768px) and (max-width: 959px) {
    h1 {
        font-size: 28px;
        line-height: 36px;
    }
    
    h2 {
        font-size: 18px!important;
        line-height: 22px!important;
    }
    
}

@media screen and (max-width: 480px) and (orientation: portrait),
screen and (max-width: 750px) and (orientation: portrait),
screen and (max-width: 640px) and (orientation: landscape) {
    h1 {
        font-size: 24px!important;
        line-height: 32px!important;
    }
    .text-huge2 {
        font-size: 30px!important;
        line-height: 30px!important;
        letter-spacing: -1px;
    }
    h2 {
        font-size: 18px!important;
        line-height: 22px!important;
    }
    
}

/* START Style 2016.10.15 Soyol-Orgil.E */

.letter-space-08{
    letter-spacing: .08em;
}

.letter-space-09{
    letter-spacing: .09em;
}

.letter-space-10{
    letter-spacing: .10em;
}

.letter-space-20{
    letter-spacing: .20em;
}

.section-one-back{
    background: url('../img/section-one-back.jpg') no-repeat;
    background-size: cover;
}

.order-btn, .read-more-btn{
    background-color: white;
    border-style: none;
    border-left: 5px solid #f30860;
    outline: none;

    letter-spacing: .09em;
    padding: 20px 40px 20px 40px;

    box-shadow: inset 0 0 0 0 #f30860;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.general-btn{
    border-style: none;
    outline: none;
    letter-spacing: .09em;
    padding: 20px 40px 20px 40px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.order-btn:hover{
    cursor: pointer;
    box-shadow: inset 400px 0 0 0 #f30860;
    color: #fff;
}

.read-more-btn:hover{
    cursor: pointer;
    box-shadow: inset 300px 0 0 0 #f30860;
    color: #fff;   
}

.main-menu{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}

.uk-sticky-placeholder .uk-container.uk-active:first-child{
    border-right: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

.main-menu{

}

.z-index-100{
    z-index: 100 !important;
}

.main-menu ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
}

.uk-navbar{
    background-color: white;
}

.main-menu .menu-container{
    
}

.main-menu .menu-container a{

    letter-spacing: .09em;
    margin-right: 20px;
    font-weight: 300;
    font-family: Gotham SSm,sans-serif;
    font-size: 11px;
    letter-spacing: .08em;
    text-indent: 1px;
    color: #aaa;

    padding-top: 20px;
    padding-bottom: 20px;

    display: inline-block;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.main-menu .menu-container a:last-child{
    margin-right: 0;
}

.main-menu .menu-container a.uk-active,
.main-menu .menu-container a:hover{
    color: #000;
}

.main-menu{
    border-bottom: 1px solid #f5f5f5;
}

.border-red-big {
    border-color: #f30860;
    border-width: 5px;
}

.menu-second{
    border-left: 1px solid #f5f5f5;
    padding-left: 20px;
}

.tuslah{
    position: absolute;
}

@-moz-keyframes arrow-anim {
    0% {margin-bottom: 0px;}
    50% {margin-bottom: -20px;}
    100% {margin-bottom: 0px;}
}

@-webkit-keyframes arrow-anim {
    0% {margin-bottom: 0px;}
    50% {margin-bottom: -20px;}
    100% {margin-bottom: 0px;}
}

@keyframes arrow-anim {
    0% {margin-bottom: 0px;}
    50% {margin-bottom: -20px;}
    100% {margin-bottom: 0px;}
}



.down-arrow{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 100px;
    animation-name: arrow-anim;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.section-three{
    
    background: linear-gradient(        
            rgba(245, 245, 245, 0.0),        
            rgba(245, 245, 245, 0.0)      
    ), 
    url('../img/back9.jpg')  no-repeat;
    background-size: cover;
    background-position: bottom;
    
    /**background-color: #f5f5f5;**/
}


.back-top-left{
    position: absolute;
    left: 0;
    top: 0;
}

.border-bottom-red{
    border-bottom: 2px solid #f30860;
}

.footer-menu div a{
    margin-right: 40px;
        font-weight: 300;
    font-family: Gotham SSm,sans-serif;
    font-size: 11px;
    letter-spacing: .08em;
    color: #282828;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

.footer-menu div a.active{
    font-weight: bold;
}

.footer-menu div a:hover{
    
}

.footer-menu div:last-child a{
    margin-right: 0 !important;
}

.footer-social a{
    display: inline-block;
    width: 20px !important;
    height: 20px !important;
    line-height: 20px;
    margin-right: 10px;
    background: #f5f5f5;
    padding: 10px;
   
}

.footer-social a:last-child{
    margin-right: 0;
}

.section-detail-one{
    height: 240px;    
}

.section-detail-back{
    background: url('../img/back2.jpg')   no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.detail-menu a{
    color: white !important;
    margin-left: 40px;
}

.detail-menu a.active{
    border-bottom: 1px solid white;
    padding-bottom: 7px;
}

.color-choice{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    margin-right: 10px;
}

.color-choice-border{
    width: 18px;
    height: 18px;
    border-radius: 100px;
    margin-right: 10px;
}

.step{
    margin-top: 30px;
}

.category div{
    margin-right: 10px;
    margin-bottom: 10px;
}

.category div:last-child{
    margin-right: 0 !important;
}

.margin-right-0{
    margin-right: 0 !important;
}

.tuslah-menu-medium{
    position: absolute;
    right: 0;
    width: 109px;

}

.tuslah-menu{
    position: absolute;
    right: 0;
    border-left: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    width: 149px;
    background: #fff;
    display: none;
}

.tuslah-menu a{
    display: block !important;
    padding-left: 10px;
    border-top: 1px solid #f5f5f5; 
}

.margin-right-20{
    margin-right: 20px !important;    
}


/* END Style */

@media (min-width: 760px) and (max-width: 960px){
    .footer-menu{
        display: block !important;
    }

    .footer-menu div{
        width: 30% !important;
        display: -webkit-inline-box !important;
        margin-bottom: 20px;
        text-align: center !important;
    }

     .footer-menu div a{
        margin-right: 0 !important;
        text-align: center !important;
     }
}

@media (max-width: 760px){
   .small-center{
        text-align: center !important;
   }

   h1.text-42{
    font-size: 36px !important;
    line-height: 44px !important
   }

   .logo-container{
    margin-top: 50px;
   }

   .logo-container img{
    width: 150px !important;
   }

   .section-one-back .text-16{
    font-size: 14px !important
   }

   .mobile-menu{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        position: fixed;
        z-index: 1000 !important;
        border-bottom: 1px solid #f5f5f5;
        border-left: 1px solid #f5f5f5;
        right: 0;
   }

   .mobile-menu .border-right{
        border-right: 1px solid #f5f5f5;
   }

   .about-section img{
    width: 150px;
   }

   .small-margin-top-30{
    margin-top: 30px;
   }

   .small-text-10{
    font-size: 10px !important; 
   }

   #mobile-menu ul li{
    border-bottom: 1px solid #2f2f2f;
    font-size: 13px !important;
   }

   .mobile-menu-social{
        padding: 10px 15px;
   }

   .mobile-menu-social a{
    margin-right: 10px;
   }

   .section-detail-one{
        height: 130px;
   }

   .detail-margin-top-30{
        margin-top: 30px !important;
   }
}